

.trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dkcontainer {
    display: flex;
}

@include media-query($on-palm) {
.dkcontainer {
    display: flex;
    flex-direction: column;
}}

.dkitem.site-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

@include media-query($on-palm) {
.dkitem.site-header {
    height: 100%;
}}

div.sketch-container {
    display: flex;
    justify-content: center;
}

